  #contenedor{
  min-height:800px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  padding-bottom: 200px;
  }



  #foto_detalle{
  background-color: white;
  height: 200px;
  display: block;
  margin: 10px 20px;
  width:300px;
  float: left;
  }


  #detalles{

  height: 220px;
  margin-top: 40px;
  margin-right: 60px;
  float: left;
  display: block;
  width:560px;



  }

  #detalles p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 60%;
  font-size:20px;

  }


  #video{
  display: block;
  height: 320px;
  margin:0 auto;
  margin-top: 230px;
  width: 420px;

  }


  #contenedor_car{

  background-color: #F5F5F5;
  min-height: 190px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  padding-bottom: 20px;

  }

  #prin_tabla{

  margin: 0 auto;
  width: 700px;

  }

  #tabla {
  text-align: center;
  padding-left: 20px;
  display: block;
  width:1300px;

  }

  #tabla th{

  border-bottom:solid 1px gray;
  padding-right: 50px;
  text-align: left;


  }

  #tabla td{
  border-bottom:solid 1px gray;

  }

  #tabla img{cursor:pointer;}

  .input{
  width:34px;
  padding: 5px;
  }